
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 1</span>
						<strong>Gallon: 1101</strong>
					</p>
				</div>
				
				
				<div class="thead">
					<ul>
						<li class="player">玩家</li>
						<li class="ppd">Rating</li>
						<li class="ppd">PPD</li>
						<li class="ppd">MPR</li>
					</ul>
				</div>
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.0.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.0.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.0.0.rtg}</td>
										<td class="ppd">{Player.0.0.ppd}</td>
										<td class="ppd">{Player.0.0.mpr}</td>
									</tr>
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.0.1.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.0.1.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.0.1.rtg}</td>
										<td class="ppd">{Player.0.1.ppd}</td>
										<td class="ppd">{Player.0.1.mpr}</td>
									</tr>
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.0.2.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.0.2.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.0.2.rtg}</td>
										<td class="ppd">{Player.0.2.ppd}</td>
										<td class="ppd">{Player.0.2.mpr}</td>
									</tr>
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.0.3.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.0.3.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.0.3.rtg}</td>
										<td class="ppd">{Player.0.3.ppd}</td>
										<td class="ppd">{Player.0.3.mpr}</td>
									</tr>

								
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 2</span>
						<strong>Doubles: 701 - Cricket - Choice</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.1.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.1.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.1.0.rtg}</td>
										<td class="ppd">{Player.1.0.ppd}</td>
										<td class="ppd">{Player.1.0.mpr}</td>
									</tr>
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.1.1.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.1.1.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.1.1.rtg}</td>
										<td class="ppd">{Player.1.1.ppd}</td>
										<td class="ppd">{Player.1.1.mpr}</td>
									</tr>
																
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 3</span>
						<strong>Doubles: 701 - Cricket - Choice</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>

									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.2.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.2.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.2.0.rtg}</td>
										<td class="ppd">{Player.2.0.ppd}</td>
										<td class="ppd">{Player.2.0.mpr}</td>
									</tr>
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.2.1.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.2.1.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.2.1.rtg}</td>
										<td class="ppd">{Player.2.1.ppd}</td>
										<td class="ppd">{Player.2.1.mpr}</td>
									</tr>
								
							</tbody>
						</table>
					</div>

				</div>
										
			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 4</span>
						<strong>Trios: 901</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.3.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.3.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.3.0.rtg}</td>
										<td class="ppd">{Player.3.0.ppd}</td>
										<td class="ppd">{Player.3.0.mpr}</td>
									</tr>
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.3.1.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.3.1.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.3.1.rtg}</td>
										<td class="ppd">{Player.3.1.ppd}</td>
										<td class="ppd">{Player.3.1.mpr}</td>
									</tr>
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.3.2.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.3.2.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.3.2.rtg}</td>
										<td class="ppd">{Player.3.2.ppd}</td>
										<td class="ppd">{Player.3.2.mpr}</td>
									</tr>
								
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 5</span>
						<strong>Single: 701 - Cricket - Choice</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.4.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.4.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.4.0.rtg}</td>
										<td class="ppd">{Player.4.0.ppd}</td>
										<td class="ppd">{Player.4.0.mpr}</td>
									</tr>
									
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 6</span>
						<strong>Single: 701 - Cricket - Choice</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.5.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.5.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.5.0.rtg}</td>
										<td class="ppd">{Player.5.0.ppd}</td>
										<td class="ppd">{Player.5.0.mpr}</td>
									</tr>
									
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 7</span>
						<strong>Single: HK Style 701 - Cricket - Choice</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.6.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.6.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.6.0.rtg}</td>
										<td class="ppd">{Player.6.0.ppd}</td>
										<td class="ppd">{Player.6.0.mpr}</td>
									</tr>
									
							</tbody>
						</table>
					</div>

				</div>

			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 8</span>
						<strong>Single: Cricket - 701 - Half It</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.7.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.7.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.7.0.rtg}</td>
										<td class="ppd">{Player.7.0.ppd}</td>
										<td class="ppd">{Player.7.0.mpr}</td>
									</tr>
									
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
		
			<div class="result_match_each">
				<div class="result_match_top">
					<p class="set">
								<span>SET 9</span>
						<strong>Single: HK Style 701 - Cricket - Half It</strong>
					</p>
				</div>
				
				
				<div class="team">
					<div class="team01">
						
						<table summary="">
							<tbody>
								
									<tr height="50">
										<td class="player">
											<span class="photo">
														<img src="http://www.phoenixdart.com/hk/member/getmemberphoto?c_seq={Player.8.0.cSeq}" onerror='this.src="http://images.phoenixdart.com/pdcs/front/images/no_profile_image.png"' />
											</span>
											<span class="name">
													{Player.8.0.plyrNm}
											</span>
										</td>
										<td class="ppd">{Player.8.0.rtg}</td>
										<td class="ppd">{Player.8.0.ppd}</td>
										<td class="ppd">{Player.8.0.mpr}</td>
									</tr>
									
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
