							<tr >

								<td>{TeamPlayerResult.rankNum}</td>
								
								<td class="team">
									<span class="photo"><a href="{TeamPlayerResult.imageSource}" target="_blank"><img src="{TeamPlayerResult.imageSource}"/></a></span>
									<span class="name">{TeamPlayerResult.plyrNm}</span>
								</td>
								<td class="rank_active">{TeamPlayerResult.rtg}</td>
								<td>{TeamPlayerResult.ppd}</td>
								<td>{TeamPlayerResult.mpr}</td>
								<td>{TeamPlayerResult.setTotal}</td>
								<td>{TeamPlayerResult.setWin}</td>
								<td>{TeamPlayerResult.setLose}</td>
								<td>{TeamPlayerResult.setRatio}</td>
							</tr>