							<tr >

								<td class="rank">{TeamPlayer.rankNum}</td>
								
								<td class="team">
									<span class="photo"><a href="{TeamPlayer.imageSource}" target="_blank"><img src="{TeamPlayer.imageSource}"/></a></span>
									<span class="name">{TeamPlayer.plyrNm}</span>
								</td>
								<td class="rank_active">{TeamPlayer.rtg}</td>
								<td class="ppd">{TeamPlayer.ppd}</td>
								<td class="mpr">{TeamPlayer.mpr}</td>
								<td class="win">{TeamPlayer.setTotal}</td>
								<td class="win">{TeamPlayer.setWin}</td>
								<td class="lose">{TeamPlayer.setLose}</td>
								<td class="ratio">{TeamPlayer.setRatio}</td>
							</tr>