							<tr >
								<td class="rank">{TeamSummary.rankNum}</td>
								<td class="team">
									<span class="photo"><a href="{TeamSummary.imageSource}" target="_blank"><img src="{TeamSummary.imageSource}"/></a></span>
									<span class="name">{TeamSummary.teamNm}</span>
								</td>
								<td class="rating">{TeamSummary.rtg}</td>
								<td class="ppd">{TeamSummary.ppd}</td>
								<td class="mpr">{TeamSummary.mpr}</td>
								<!--td class="rank">{TeamSummary.totalPt}</td-->
								<!--td class="win">{TeamSummary.matchWin}</td>
								<td class="lose">{TeamSummary.matchLose}</td-->
								<td class="win">{TeamSummary.setWin}</td>
								<td class="lose">{TeamSummary.setLose}</td>
								<td class="ratio">{TeamSummary.setRatio}</td>
							</tr>
