<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<title>POL Match Overview</title>
		
		{teamSummaryHeader}
	 	
	</head>
	
	<body>

	
	<div class="innerDiv">

			
			<div class="player_info_box">

				<!-- Opposing Team -->
				<div class="box profile profile2">
					<p class="tit">對手</p>
					<!--div class="img">
						<p class="resize_photo">
							
									<img src="http://play.phoenixdart.com/downloadTeamInforImage.do?teamId={AgainstTeamDetail.teamId}" alt="" onerror="this.src='http://images.phoenixdart.com/pdcs/front/images/no_team_image.gif'" />
							
						</p>
					</div-->
					<div class="info">
						<p class="name">{AgainstTeamDetail.teamNm}</p>
						<p class="team">{AgainstTeamDetail.cptNm}</p>
						<p class="home">
							<span class="h_name">{AgainstTeamDetail.shpNm}</span>
						</p>
					</div>
				</div>


				<!-- Match Detail -->
				<div class="box chart">
					<div class="box_inner">
						<div class="hero-gallery">
							<div class="hero-gallery__cell">
								<p class="tit">比賽資料</p>
								<dl>
									<dt>日期</dt> <!-- 승 -->
									<dd><p class="date">{NextMatch.plyngStrtDt}</p></dd>
								</dl>
								<dl>
									<dt>地點</dt> <!-- 패 -->
									<dd><a class="map_link" href="http://play.phoenixdart.com/selectHmShopCpttnList.do?sSeq={NextMatchShop.sSeq}" target="_blank">{NextMatchShop.name}</a></dd>
								</dl>
								<dl>
									<dt>地址</dt> <!-- 승률 -->
									<dd><a class="map_link" href="http://www.google.com/maps/?q={NextMatchShop.latitude},{NextMatchShop.longitude}" target="_blank">{NextMatchShop.address}</a></dd>
								</dl>
								<dl>
									<dt>Link</dt> <!-- 승 -->
									<dd><a class="map_link" href="http://play.phoenixdart.com/selectMatchDetailML.do?cpttnId={competitionId}&searchDivision={divisionId}&searchStage={stageId}&brcktId={NextMatch.brcktId}" target="_blank">比賽細節</a></dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				
				

				<div class="box summary">
					<div class="box_inner">
						<div class="hero-gallery">
							<div class="hero-gallery__cell">
								<p class="tit">數據</p>
								<!--
								<dl>
									<dt>Rank</dt>
									<dd>{AgainstTeamDetail.rankNum}</dd>
								</dl>
								-->
								<dl>
									<dt>Rating</dt>
									<dd>{AgainstTeamDetail.teamRtg}</dd>
								</dl>
								<dl>
									<dt>PPD</dt>
									<dd>{AgainstTeamDetail.teamPpd}</dd>
								</dl>
								<dl>
									<dt>MPR</dt>
									<dd>{AgainstTeamDetail.teamMpr}</dd>
								</dl>
								<dl>
									<dt>勝:敗</dt>
									<dd>{AgainstTeamDetail.setWin}:{AgainstTeamDetail.setLose}</dd>
								</dl>
								<dl>
									<dt>勝率</dt>
									<dd>{AgainstTeamDetail.setRatio}</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>


				
				<div class="box total">
					<div class="box_inner">
						<p class="tit">排名</p> <!-- Total Point -->
						<p class="point">{AgainstTeamDetail.rankNum}</p>
					</div>
				</div>

				
			</div>


			<!-- Player Rankings -->
			<div class="ranking_form additional">
				<div class="h_a_tit">
					<p class="home">
						<span class="h_a">Against</span> <!-- 홈 -->
						<span>{AgainstTeamDetail.teamNm}</span>
					</p>
				</div>
		
				<table class="tb_style01 tb_style_award" summary="">
					<thead>
						<tr>
							<th class="rank" rowspan="2">排名</th><!-- 순위 -->
							<th class="team" rowspan="2">玩家</th><!-- 플레이어 -->
							<th class="rank_active" rowspan="2">Rating</th>
							<th class="ppd" rowspan="2">PPD</th>
							<th class="mpr" rowspan="2">MPR</th>
							<th colspan="4">Set</th>
						</tr>
						<tr>
							<th>Total</th>
							<th>勝</th> <!-- 승 -->
							<th>敗</th> <!-- 패 -->
							<th>勝率</th> <!-- 무 -->
						</tr>
					</thead>
					<tbody class="even_auto">
						
						{againstTeamPlayerListItems}
						
					</tbody>
				</table>
			</div>


			
			<!-- Player Rankings -->
			<div class="ranking_form additional">
				<div class="h_a_tit">
					<p class="away">
						<span class="h_a">Home</span> <!-- 홈 -->
						<span>{OurTeamDetail.teamNm}</span>
					</p>
				</div>
		
				<table class="tb_style01 tb_style_award" summary="">
					<thead>
						<tr>
							<th class="rank" rowspan="2">排行</th><!-- 순위 -->
							<th class="team" rowspan="2">玩家</th><!-- 플레이어 -->
							<th class="rank_active" rowspan="2">Rating</th>
							<th class="ppd" rowspan="2">PPD</th>
							<th class="mpr" rowspan="2">MPR</th>
							<th colspan="4">Set</th>
						</tr>
						<tr>
							<th>Total</th>
							<th>勝</th> <!-- 승 -->
							<th>敗</th> <!-- 패 -->
							<th>勝率</th> <!-- 무 -->
						</tr>
					</thead>
					<tbody class="even_auto">
						
						{ourTeamPlayerListItems}
						
					</tbody>
				</table>
			</div>			
			

			<!-- Line Up -->
			<div class="con_title_04">
				<h5>排陣預測</h5> 
			</div>
			{againstTeamPredictedLineUp}

			<!-- Line Up -->
			<div class="con_title_04">
				<h5>最強陣容參考</h5> 
			</div>
			{againstTeamStrongestLineUp}
			
			
			<!-- Team Rankings -->
			<div class="con_title_04">
				<h5>聯賽排名</h5> <!-- 리그 순위 -->
			</div>

			<div class="ranking_form">
				<table class="tb_style01" summary="">
					<thead>
						<tr>
							<th rowspan="2" class="rank">排行</th><!-- 순위 -->
							<th colspan="4" >隊伍</th><!-- 팀 -->
							<!--th rowspan="2"  class="rank">總積分</th>
							<th colspan="2" >Match</th-->
							<th colspan="3">Set</th><!-- Set -->
						</tr>
						<tr>
							<th class="team">隊名</th> <!-- 팀 이름 -->
							<th class="team">Rating</th>
							<th class="ppd">PPD</th>
							<th class="mpr">MPR</th>
							<!--th class="win">勝</th>
							<th class="lose">敗</th-->
							<th class="win">勝</th><!-- 승 -->
							<th class="lose">敗</th><!-- 패 -->
							<th class="ratio">勝率</th><!-- 승률 -->
						</tr>
					</thead>
				
					<tbody id="tbody_teamRankingList" class="even_auto">
				
							{teamListItems}
					
					</tbody>
				</table>
				
			</div>



			
		<!-- end inner div -->
		</div>
		
		

	</body>
</html>