							<tr >
								<td>{TeamSummary.rankNum}</td>
								<td class="team">
									<span class="photo"><a href="{TeamSummary.imageSource}" target="_blank"><img src="{TeamSummary.imageSource}"/></a></span>
									<span class="name">{TeamSummary.teamNm}</span>
								</td>
								<td>{TeamSummary.rtg}</td>
								<td>{TeamSummary.ppd}</td>
								<td>{TeamSummary.mpr}</td>
								<td class="rank_active">{TeamSummary.totalPt}</td>
								<td>{TeamSummary.matchWin}</td>
								<td>{TeamSummary.matchLose}</td>
								<td>{TeamSummary.matchRatio}</td>
								<td>{TeamSummary.setWin}</td>
								<td>{TeamSummary.setLose}</td>
								<td>{TeamSummary.setRatio}</td>
								<td>{TeamSummary.penaltyPt}</td>
							</tr>
