<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="SummaryTemplateFile" value="H:\Personal\Darts\POLApp\TeamSummaryTemplate.html" />
      <add key="TeamListItemTemplateFile" value="H:\Personal\Darts\POLApp\TeamListItemTemplate.html" />
      <add key="PlayerListItemTemplateFile" value="H:\Personal\Darts\POLApp\PlayerListItemTemplate.html" />
      <add key="SummaryHeaderFile" value="H:\Personal\Darts\POLApp\TeamSummaryHeader.html" />

      <add key="SMTPMailHost" value="nezuasia-com.mail.protection.outlook.com" />
      <add key="SMTPMailPort" value="25" />
      <add key="FromEmailAddress" value="lee@nezuasia.com" />
      <add key="FromEmailName" value="Kelvin Lee" />
      <add key="ToEmailAddress" value="lee@nezuasia.com" />

      <add key="CompetitionId" value="16106" />
      <add key="DivisionId" value="38140" />
      <add key="StageId" value="49242" />
      <add key="TeamId" value="35250" />

    </appSettings>


</configuration>